Q1. What Is Python?

  Python is a programming languagem,Which(जी) Helps us(आम्हाला) to communicate With the machine.
  
Q2. Types of Programming Language :

Programming languages are of 2 types..

*   Compiler Type :
      example java, c, c++, etc.
    
*   Interpreter Types :
      example Python

In [ ]:
#Interpreter Types :example Python
print("My Name Is Harshal")
print("I currently live in Pune ")
print('python)

SyntaxError: unterminated string literal (detected at line 4) (<ipython-input-7-842856b72e12>, line 4)

Q3. What Is print()?

 print() is a *built-in function* used to output text or other data to the console

Q 1: Write a Python program to print "Hello, World!"

In [ ]:
print("Hello,World!")

Hello,World!

Q 2: Calculate the sum of two numbers entered by the user.

In [ ]:
a = int(input("Enter The First Number :"))
b = int(input("Enter The Second Number :"))
print(a+b)

Enter The First Number :10
Enter The Second Number :20
30

Q 3: Convert temperature from Celsius to Fahrenheit.

In [ ]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

# Example usage:
celsius_temperature = float(input("Enter temperature in Celsius: "))
fahrenheit_temperature = celsius_to_fahrenheit(celsius_temperature)
print(f"{celsius_temperature} degrees Celsius is equal to {fahrenheit_temperature} degrees Fahrenheit.")

Enter temperature in Celsius: 23
23.0 degrees Celsius is equal to 73.4 degrees Fahrenheit.

In [ ]:
# Variables for storing a person's information
person_name = "John Doe"
person_age = 25
average_test_score = 85.5

In [ ]:
# Variables for storing a person's information
person_name = "John Doe"
person_age = 25
average_test_score = 85.5

# Printing the information
print(f"Name: {person_name}")
print(f"Age: {person_age} years")
print(f"Average Test Score: {average_test_score}")

Name: John Doe
Age: 25 years
Average Test Score: 85.5